<app-search
  [title]="title"
  [documents]="documents"
  [loading]="loading"
  [noResultsFound]="false"
  [displayedColumns]="displayedColumns">

  <form [formGroup]="searchForm" (ngSubmit)="loadDocuments()">

    <div>

      <mat-form-field class="documents-count-input" appearance="fill">
        <mat-label>Number of documents</mat-label>
        <input title="count" matInput type="number" formControlName="count">
        <mat-error *ngIf="searchForm.get('count')?.hasError('required')">*The number of documents is required.</mat-error>
        <mat-error *ngIf="searchForm.get('count')?.hasError('min')">The number must be > 0</mat-error>
        <mat-error *ngIf="searchForm.get('count')?.hasError('max')">The number must be &lt; 10000</mat-error>
      </mat-form-field>

    </div>

    <button mat-raised-button type="submit" [disabled]="searchForm.invalid || loading">Load Documents</button>

  </form>
</app-search>
