<header style="margin : 20px;">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Search By Name"> Search By Name </mat-tab>
    <mat-tab label="Search By Book And Page"> Search By Book And Page </mat-tab>
    <mat-tab label="Search By Instrument Type"> Search By Instrument Type </mat-tab>
    <mat-tab label="View Daily Notebook"> View Daily Notebook </mat-tab>
    <mat-tab label="Search Marriage Licenses"> Search Marriage Licenses </mat-tab>

  </mat-tab-group>
</header>

