<div class="mx-10 my-5">

  <div class="text-3xl">
    {{ title }}
  </div>

  <div class="py-5">
    <ng-content></ng-content>
  </div>

  @if(loading){
    <mat-progress-bar mode="indeterminate" class="load-documents-spinner"></mat-progress-bar>
  }

  <div>
    @if(!loading && documents.length > 0){
      <app-documents-table [documents]="documents" [loading]="loading" [displayedColumns]="displayedColumns"></app-documents-table>
    }
  </div>

  @if(!loading && noResultsFound){
    <div>No results found for the selected types.</div>
  }

</div>
