<app-search
  [title]="title"
  [documents]="documents"
  [loading]="loading"
  [noResultsFound]="noResultsFound"
  [displayedColumns]="displayedColumns">

  <form [formGroup]="searchForm" (ngSubmit)="searchDocuments()">

    <mat-button-toggle-group formControlName="nameType">
      <mat-button-toggle value="GRANTOR">GRANTOR</mat-button-toggle>
      <mat-button-toggle value="GRANTEE">GRANTEE</mat-button-toggle>
      <mat-button-toggle value="BOTH">BOTH</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="mt-3">
      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Surname</mat-label>
        <input title="surname" type="string" matInput formControlName="surname">
        <mat-error *ngIf="searchForm.get('surname')?.hasError('required')">*Surname is required</mat-error>
      </mat-form-field>

      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Given</mat-label>
        <input title="given" matInput formControlName="given">
        <mat-error *ngIf="searchForm.get('given')?.hasError('required')">*Given name is required</mat-error>
      </mat-form-field>
    </div>

    <button mat-flat-button type="submit" color="primary" [disabled]="searchForm.invalid || loading">Search Documents</button>

  </form>

</app-search>
