<div style="margin: 20px;">
  <h4>Search Documents by Type</h4>

  <div>
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Select Instrument Types</mat-label>
      <mat-select  [(value)]="selectedValues" multiple>
        <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.value">
          {{documentType.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />
    <button mat-raised-button color="primary" (click)="searchDocuments()" [disabled]="loading">Search Documents</button>

    <mat-progress-bar mode="indeterminate" class="load-documents-spinner" *ngIf="loading"></mat-progress-bar>
    <app-notebooks-table *ngIf="!loading && notebooks.length > 0" [notebooks]="notebooks" [loading]="loading"></app-notebooks-table>
    <div *ngIf="!loading && noResultsFound">No results found for the selected types.</div>
  </div>
</div>
