<section class="leading-relaxed max-w-screen-xl mt-12 mx-auto px-4 md:px-8">
  <div class="mt-10 max-w-2xl mx-auto pb-5">
    NOTICE: Documents available on this site are stored as TIFF (Tag Image File Format) files. Most PC's can view TIFF files, but if you have trouble, we suggest that you download and install AlternaTIFF. Please visit their site at <a href="https://www.alternatiff.com">www.alternatiff.com</a>. AlternaTIFF is a free product, but it does require that you register it.
    An alternative way to view the images is to view them as a PDF (Portable Document Format) using the Adobe Acrobat reader available at <a href="https://www.adobe.com">www.adobe.com</a>
  </div>
</section>
<app-faqs></app-faqs>



