<app-search
  [title]="title"
  [documents]="documents"
  [loading]="loading"
  [noResultsFound]="noResultsFound"
  [displayedColumns]="displayedColumns">

  <form [formGroup]="searchForm" (ngSubmit)="searchDocuments()">

    <div>
      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Book</mat-label>
        <input title="book" type="number" matInput formControlName="book">
        <mat-error *ngIf="searchForm.get('book')?.hasError('min')">*Book must be at least 1.</mat-error>
        <mat-error *ngIf="searchForm.get('book')?.hasError('required')">*Book number is required.</mat-error>
      </mat-form-field>

      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Page</mat-label>
        <input title="page" type="number" matInput formControlName="page">
        <mat-error *ngIf="searchForm.get('page')?.hasError('min')">*Book must be at least 1.</mat-error>
        <mat-error *ngIf="searchForm.get('page')?.hasError('required')">*Page number is required.</mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button type="submit" [disabled]="searchForm.invalid || loading">Search Documents</button>

  </form>

</app-search>
