<app-search
  [title]="title"
  [notebooks]="notebooks"
  [loading]="loading"
  [noResultsFound]="noResultsFound">

    <mat-form-field class="input-field book-input" appearance="fill">
      <mat-label>Book</mat-label>
      <input title="book" matInput type="number" [(ngModel)]="book" name="book">
    </mat-form-field>

    <mat-form-field class="input-field page-input" appearance="fill">
      <mat-label>Page</mat-label>
      <input title="page" matInput type="number" [(ngModel)]="page" name="page">
    </mat-form-field>

    <br />
    <button mat-raised-button (click)="searchDocuments()" [disabled]="loading">Search Documents</button>

</app-search>
