<header>
  <div class="pb-8 border-b">
    <div class="text-3xl text-center mt-10">
      Nelson County Clerk
    </div>
    <div class="text-xl text-center">
      Jeanette Hall Sidebottom - Clerk
    </div>
  </div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (link of links; track link) {
      <a mat-tab-link
        [routerLink]="link.path"
        routerLinkActive="active"
        (click)="activeLink = link"> {{link.label}} </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</header>
