<app-search
  [title]="title"
  [notebooks]="notebooks"
  [loading]="loading"
  [noResultsFound]="noResultsFound"
  [displayedColumns]="displayedColumns">
  <div>
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Select Instrument Types</mat-label>
      <mat-select  [(value)]="selectedValues" multiple>
        <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.value">
          {{documentType.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />
    <button mat-raised-button color="primary" (click)="searchDocuments()" [disabled]="loading">Search Documents</button>

  </div>

</app-search>
