.action-button {
  margin: 0 5px;
  border-radius: 15px;
  /* Adjust the value for more or less rounded corners */
  padding: 5px 10px;
  min-width: 40px;
  font-size: 12px;
}

.mat-stroked-button {
  line-height: 1;
  /* Adjust line height for smaller buttons */
}
